.head0 {
    margin: -8px;
    background-color: rgb(240, 100, 45);
}
.sect0 {
    margin: 8px 150px 0px;
    padding-top: 0px;
}
.toptag {
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 295px;
}
.contacts {
    margin-top: 14px;
    gap: 0px;
    margin-left: 10px;
    justify-items: left;
}
.sp {
    color: white;
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left-info {
    margin-top: -34px;
    display: flex;
    gap: 0px;
}
.c-l {
    padding-left: 0px;
    list-style: none;
}
.call-logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Clogo {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center center;
    background-image: url("/food/images/call.svg");
}
.owner-tag {
    justify-content: center;
    align-content: center;
    align-items: center;
}
.box-items1 {
    padding-bottom: 0px;
    align-items: center;
}
.box-items2 {
    padding-bottom: 0px;
    align-items: center;
}
.box-items3 {
    padding-bottom: 0px;
    align-items: center;
}
.tag-box {
    align-items: center;
    padding-bottom: 10px;
}
.ul-bi {
    list-style: none;
    text-align: center;
}
.box-items {
    padding-bottom: 0px;
    align-items: center;
}
.box-items1 {
    font-size: 11px;
}
.box-items2 {
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 11px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.box-items3 {
    font-size: 10px;
    font-weight: bold;
}


.head1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: -8px;
}
.sect1 {
    margin: 8px 150px 0px;
}
.container1 {
    display: flex;
    gap: 624px;
}
.l-contain {
    margin-top: 7px;
    padding-left: 0px;
    list-style: none;
    display: flex;
}
.main-logo {
    height: 40px;
    width: 40px;
    background-image: url(/food/images/main-logo.svg));
    background-size: cover;
    background-position: center center;
}
.r-contain {
    list-style: none;
    display: flex;
    gap: 30px;
}
.rcontain {
    font-size: 14px ;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.192);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rcontain:hover {
    border-radius: 0px;
    border-color: black;
    background-color: rgba(218, 165, 32, 0.315);
}


.sect2 {
    margin: -8px;
}
.sectM2 {
    margin: 0px 150px 20px;
}
.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-contents {
    margin-top: 37px;
}
.mid-items1 {
    font-family:cursive;
    font-size: 33px;
    padding-bottom: 0px;
    margin-bottom: -1px;
}
.mid-items2 {
    letter-spacing: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: goldenrod;
    font-weight: lighter;
    padding-bottom: 0px;
    margin-bottom: -1px;
}    
.mid-items3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

}
.imgcontain {
    margin: 25px -105px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgbox {
    margin: 45px 150px 55px;
    background-image: url(/food/images/logo.jpg);
    background-size: 100px 100px 100px;
    background-position: center center;
    align-items: center;
    width: 555px;
    height: 300px;
    padding-top: 10px;
}
.buttons {
    display: flex;
    margin-top: 25px;
    gap: 15px;
}
.order-button {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgba(255, 186, 186, 0.548);
}
.order-button:hover {
    background-color: white;
    border-color: blue;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px ;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.view-button {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgba(152, 152, 250, 0.479);
}
.view-button:hover {
    border-color: red;
    background-color: white;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}


.head2 {
    margin: -8px;
    background-color: #e5e7eb;
}
.sect3 {
    margin: 25px 150px 12px;
}
.bottom-info {
    margin-bottom: -17px;
    display: flex;
    gap: 500px;
}

.bottom-right-info {
    display: flex;
    text-align: left;
    margin-left: 734px;
    
}
.location-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loca-box {
    height: 40px;
    width: 40px;
    background-image: url(/food/images/location1.svg);
    background-size: cover;
    background-position: center center;
}
.bottom-list {
    margin-top: 14px;
    margin-left: 0px;
}
.bll {
    list-style: none;
}
.sp2 {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
    letter-spacing: 1px;
    word-spacing: 2px;
}


.foot {
    padding-bottom: 1px;
    margin: -8px;
    text-align: center;
    background-color: goldenrod;
}
.foot-font {
    font-weight: bolder;
    font-size: 17px;
    word-spacing: 65px;
    letter-spacing: 8px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}