.head0 {
    margin: -8px;
    background-color: rgb(240, 100, 45);
}
.sect0 {
    margin: 8px 150px 0px;
    padding-top: 0px;
}
.toptag {
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 295px;
}
.contacts {
    margin-top: 14px;
    gap: 0px;
    margin-left: 10px;
    justify-items: left;
}
.sp {
    color: white;
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left-info {
    margin-top: -34px;
    display: flex;
    gap: 0px;
}
.c-l {
    padding-left: 0px;
    list-style: none;
}
.call-logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Clogo {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center center;
    background-image: url("/images/call.svg");
}
.owner-tag {
    justify-content: center;
    align-content: center;
    align-items: center;
}
.box-items1 {
    padding-bottom: 0px;
    align-items: center;
}
.box-items2 {
    padding-bottom: 0px;
    align-items: center;
}
.box-items3 {
    padding-bottom: 0px;
    align-items: center;
}
.tag-box {
    align-items: center;
    padding-bottom: 10px;
}
.ul-bi {
    list-style: none;
    text-align: center;
}
.box-items {
    padding-bottom: 0px;
    align-items: center;
}
.box-items1 {
    font-size: 11px;
}
.box-items2 {
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 11px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.box-items3 {
    font-size: 10px;
    font-weight: bold;
}


.head1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: -8px;
}
.sect1 {
    margin: 8px 150px 0px;
}
.container1 {
    display: flex;
    gap: 624px;
}
.l-contain {
    margin-top: 7px;
    padding-left: 0px;
    list-style: none;
    display: flex;
}
.main-logo {
    height: 40px;
    width: 40px;
    background-image: url(/images/mainlogo.svg);
    background-size: cover;
    background-position: center center;
}
.r-contain {
    list-style: none;
    display: flex;
    gap: 30px;
}
.rcontain {
    font-size: 14px ;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.192);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rcontain:hover {
    border-radius: 0px;
    border-color: black;
    background-color: rgba(218, 165, 32, 0.315);
}